*{
    margin:0px;
}


@media (max-width:768px){
    header{
        text-align: center;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0.3em;
        color: #202020;
        font-family: 'Roboto', 'Noto', sans-serif;
        padding-top:30px;
        padding-bottom: 30px;
        margin-bottom: 30px;
    }
    .your-cart{
        text-align: center;
        line-height: 1.5;
        font-size: 1.3em;
        color: #757575;
        font-family: 'Roboto', 'Noto', sans-serif;
    }
    .item-count{
        text-align: center;
        line-height: 1.5;
        font-size: 12px;
        font-weight: 500;
        font-family: 'Roboto', 'Noto', sans-serif;
    }
    .product{
        display:grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: 1fr 1fr;
        width: 80%;
        margin: 30px auto;
        align-items: center;
    }
    .product-logo{
        height: 70px;
        width: 70px;
        background-image: url('https://shop.polymer-project.org/esm-bundled/data/images/10-15068B.jpg');
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center center;
        grid-row: 1/-1;
        grid-column: 1/1;
    }
    .product-name{
        grid-area: 1/2/2/-1;
        line-height: 20px;
        font-weight: 500;
        font-family: 'Roboto', 'Noto', sans-serif;
        font-size: 13px;
        justify-self: start;
    }
    .product-size{
        grid-row: 2/-1;
        grid-column: -5/-3;
        line-height: 20px;
        font-weight: 500;
        font-family: 'Roboto', 'Noto', sans-serif;
        font-size: 13px;
        justify-self: end;
        
    }
    .product-price{
        grid-row:2/-1;
        grid-column:-3/-1;
        line-height: 20px;
        font-weight: 500;
        font-family: 'Roboto', 'Noto', sans-serif;
        font-size: 13px;
        justify-self: end;
    }
    .amount{
        font-family: 'Roboto', 'Noto', sans-serif;
        font-size: 13px;
        line-height: 1.5;
        font-weight: bold;
        text-align: right;
        width: 90%;

    }
    .checkout button{
        display:none;
    }
    footer{
        width:100%;
        height: 50px;
        background-color: #172C50;
        text-align: center;
        padding-top: 20px;
        font-size: 20px;
        font-weight: 500;
        font-family:'Roboto', 'Noto', sans-serif;
        color:white;
        position: fixed;
        bottom: 0px;
    }


}

@media (min-width:769px){
    header{
        text-align: center;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0.3em;
        color: #202020;
        font-family: 'Roboto', 'Noto', sans-serif;
        padding-top:30px;
        padding-bottom: 30px;
        margin-bottom: 30px;
    }
    main{
        margin: 50px auto;
    }
    .your-cart{
        text-align: center;
        line-height: 1.5;
        font-size: 1.3em;
        color: #757575;
        font-family: 'Roboto', 'Noto', sans-serif;
    }
    .item-count{
        text-align: center;
        line-height: 1.5;
        font-size: 12px;
        font-weight: 500;
        font-family: 'Roboto', 'Noto', sans-serif;
    }
    .product{
        display:grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: 1fr;
        width: 80%;
        margin: 30px auto;
        align-items: center;
    }
    .product-logo{
        height: 70px;
        width: 70px;
        background-image: url('https://shop.polymer-project.org/esm-bundled/data/images/10-15068B.jpg');
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .product-name{
        grid-area: 1/2/-1/6;
        line-height: 20px;
        font-weight: 500;
        font-family: 'Roboto', 'Noto', sans-serif;
        font-size: 13px;
        justify-self: start;
    }
    .product-size{
        grid-row: 1/-1;
        grid-column: -5/-3;
        line-height: 20px;
        font-weight: 500;
        font-family: 'Roboto', 'Noto', sans-serif;
        font-size: 13px;
        justify-self: end;
    }
    .product-price{
        grid-row:1/-1;
        grid-column:-3/-1;
        line-height: 20px;
        font-weight: 500;
        font-family: 'Roboto', 'Noto', sans-serif;
        font-size: 13px;
        justify-self: end;
    }
    .checkout{
        display:grid;
        grid-template-columns: 50% 25% 25%;
        grid-template-rows: 1fr;
        width: 80%;
        margin:auto;
    }
    .amount{
        grid-area:1/-3/-1/-2;
        font-family: 'Roboto', 'Noto', sans-serif;
        font-size: 13px;
        line-height: 1.5;
        font-weight: bold;
        text-align: center;
        align-self: center;
    }
    .checkout button{
        grid-area:1/-2/-1/-1;
        box-sizing: border-box;
        border: 2px solid #000;
        background-color: #FFF;
        font-size: 14px;
        font-weight: 500;
        margin: 0;
        padding: 8px 44px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        border-radius: 0;
        outline: none;
        -webkit-appearance: none;
    }
    footer{
        display: none;
    }
}